<h1>Maak een Product</h1>
<div class="create-container">

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (success) {
    <p class="success">{{ success }}</p>
  }

  <form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Naam</label>
      <input id="name" type="text" [(ngModel)]="name" name="name" required />
    </div>

    <div class="form-group">
      <label for="description">Beschrijving</label>
      <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="price">Prijs (€)</label>
      <input id="price" type="number" [(ngModel)]="price" name="price" required />
    </div>

    <div class="form-group">
      <label for="stock">Voorraad</label>
      <input id="stock" type="number" [(ngModel)]="stock" name="stock" required />
    </div>

    <div class="form-group">
      <label for="categorie_id">Categorie ID</label>
      <input id="categorie_id" type="number" [(ngModel)]="categorie_id" name="categorie_id" placeholder="1: Merch, 2: Figueren, 3: Manga" required />
    </div>

<!--    <div class="form-group">-->
<!--      <label for="imageUrl">Afbeelding URL (optioneel)</label>-->
<!--      <input id="imageUrl" type="text" [(ngModel)]="imageUrl" name="imageUrl" />-->
<!--    </div>-->

    <button type="submit" class="btn">Product aanmaken</button>
  </form>
</div>

