.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1bab2;
  color: white;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  list-style: none;

  .navbar-logo {
    display: flex;
    align-items: center;

    img {
      height: 80px;
      width: auto;
      cursor: pointer;
    }
  }

  .navbar-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-left: 2rem;
    padding: 0;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: #57213d;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #57213d;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn-login,
    .btn-logout {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      background-color: #57213d;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #351626;
      }
    }

    .login-info {
      display: flex;
      align-items: center;
      gap: 15px;
      list-style: none;
      margin: 0;
      padding: 0;

      span {
        font-weight: 800;
        font-size: 1rem;
        color: #57213d;
      }

      li {
        display: inline-block;

        a {
          display: inline-block;

          .img-cart {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }


  .navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    .bar {
      height: 3px;
      width: 100%;
      background-color: #57213d;
      border-radius: 2px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    .navbar-toggle {
      display: flex;
    }

    .navbar-links,
    .navbar-actions {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-color: #d1bab2;
      padding: 1rem 0;

      &.active {
        display: flex;

        .login-info{
          text-align: center;
        }
      }
    }

    .navbar-links {
      gap: 1rem;
      margin: 0;
      border-bottom: 0.1px solid #57213d;

      li a {
        font-size: 1.2rem;

      }
    }

    .navbar-actions {
      gap: 0.5rem;

      .btn-login, .btn-logout {
        width: 80%;
        text-align: center;
      }
    }

    .navbar-logo img {
      height: 60px;
    }
  }
}

