<nav class="navbar">
  <div class="navbar-logo">
    <img ngSrc="assets/logo.png" alt="My App Logo" width="500" height="500">
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/product">Products</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
  <div class="navbar-actions">
    <li><a routerLink="/login">Login</a></li>
    @if (authService.isLoggedIn()) {
      <button (click)="logout()">Uitloggen</button>
    } @else {
    }
  </div>
</nav>
