<h1>Bekijk je bestellingen</h1>
<div class="order-container">
  @for (order of orders$|async; track order.order_id) {
    <div class="order-card">
      <h3 class="order-number">Bestelling #{{ order.order_id }}</h3>

      <div class="order-products">
        @for (item of getProductCounts(order.products); track item.product.product_id) {
          <p class="product-name">
            {{ item.product.name }} (x{{ item.quantity }}) - €{{ item.product.price | number:'1.2-2' }}
          </p>
        }
      </div>
      <p class="order-price">Totaal: {{ order.totalPrice | currency:'EUR' }}</p>
    </div>
  }
  @empty {
    <p>Geen bestellingen :(</p>
  }
</div>





