<h1>Product details</h1>
@for (product of [product$ | async]; track product?.product_id) {
  @if (product) {
    <div class="product-card">
      <div class="product-header">
        <h2 class="product-title">{{ product.name }}</h2>
      </div>

      <div class="product-body">
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">Prijs: € {{ product.price | number:'1.2-2' }}</p>
        <p class="product-stock">Stock: {{product.stock}}</p>
      </div>

      <div class="product-footer">
        <button
          class="btn-add"
          [disabled]="!authService.isLoggedIn() || product.stock === 0"
          (click)="addToCart(product)">
          Voeg toe aan winkelmand
        </button>

        @if (!authService.isLoggedIn()) {
          <p class="login-warning">Je moet ingelogd zijn om dit product te bestellen.</p>
        }
      </div>

    </div>
  }
}

