<section class="home-header">
  <div class="overlay">
    <div class="content">
      <h1>Welkom bij AnimeVerse</h1>
      <p>Ontdek AnimeVerse, de plek voor anime fans in Nederland! In onze winkel vindt je manga, figuren en merchandise. Voor zowel nieuwe als doorgewinterde fans is AnimeVerse waar jouw passie tot leven komt.</p>
      <button class="btn-explore" (click)="goToProducts()">
        Bekijk Producten
      </button>
      <button class="btn-about" (click)="goToAbout()">
        Meer over ons
      </button>
    </div>
  </div>
</section>


